<h1>Employee Registration </h1>
<p>Create Employee</p>

<%= simple_form_for @user do |f| %>
  <%= f.input :name, label: "Employee Name" %>
  <%= f.input :address1, label: "Employee Address" %>
  <%= f.input :city, label: "City" %>
  <%= f.input :email, label: "Email" %>
  <%= f.input :role, label: "Role" %>
  <%= f.input :telephoneNo, label: "Telephone Number" %>
  <%= f.button :submit %>
<% end %>
