<h1>Sweet</h1>
<p>GO Time1</p>

<%= @weather %>

<%= @which_day %>

<h1><%= @user.email %></h1>

<% @kgn_employees.each do |emp| %>
  <%= emp.name %>
<% end %>

<% @mobay_employees.each do |emp| %>
  <%= emp.name %>
<% end %>

