<h1>Sweet</h1>
<p>GO Time1</p>

<p>
  KGN Weather <%= @kgn_weather %>
</p>

<p>
  MBY Weather <%= @mobay_weather %>
</p>


Which day = <%= @which_day %>



Kgn IT
<% @kgn_IT.each do |emp| %>
  <%= emp.name %>
<% end %>

Mobay IT

<% @mobay_IT.each do |emp| %>
  <%= emp.name %>
<% end %>
