<h1>Sweet</h1>
<p>GO Time1</p>

Weather <%= @weather %>

Which day = <%= @which_day %>

<h1><%= @user.email %></h1>

<% @kgn_employees.each do |emp| %>
  <%= emp.name %>
<% end %>

<% @mobay_employees.each do |emp| %>
  <%= emp.name %>
<% end %>


<h3> Office Schedule </h3>

<% send_office_email(@weather) %>


<table class="table">
  <tr>
    <td>Day 1 </td>
    <td><%= @weekly[0]%></td>
  </tr>

  <tr>
    <td>Day 2 </td>
    <td><%= @weekly[1] %></td>
  </tr>

  <tr>
    <td>Day 3 </td>
    <td><%= @weekly[2] %></td>
  </tr>

  <tr>
    <td>Day 4 </td>
    <td><%= @weekly[3] %></td>
  </tr>

  <tr>
    <td>Day 5 </td>
    <td><%= @weekly[4] %></td>
  </tr>


</table>

<h3> IT Schedule </h3>

<% send_it_email(@weather) %>


<table class="table">
  <tr>
    <td>Day 1 </td>
    <td><%= @weekly[0]%></td>
  </tr>

  <tr>
    <td>Day 2 </td>
    <td><%= @weekly[1] %></td>
  </tr>

  <tr>
    <td>Day 3 </td>
    <td><%= @weekly[2] %></td>
  </tr>

  <tr>
    <td>Day 4 </td>
    <td><%= @weekly[3] %></td>
  </tr>

  <tr>
    <td>Day 5 </td>
    <td><%= @weekly[4] %></td>
  </tr>


</table>

