<h1>Productively Sheet</h1>

<p>
  <%= link_to "Send Manual Email", "weather" %> <br>
  <%= link_to "Add Employee", "users/new" %>
</p>

<table class="table table-striped">
  <tr>
    <td>City</td>
    <td>Staff Type</td>
    <td>Staff Count</td>
    <td>Hours lost per</td>
    <td>Weather</td>
  </tr>
  <% count_staff %>
  <% get_weather("kingston") %>

  <% amount_staff_lost(@kgn_weather, "Kingston") %>
  <tr>
    <td><%= @city %></td>
    <td><%= @type %></td>
    <td><%= @kgn_office_count %></td>
    <td><%= @kgn_off_waste = @total - @weekly %></td>
    <td><%= @kgn_weather %></td>
  </tr>
  <% get_mobay_weather %>
  <% amount_staff_lost(@mobay_weather, "Montego Bay") %>

  <tr>
    <td><%= @city %></td>
    <td><%= @type %></td>
    <td><%= @mobay_office_count %></td>
    <td><%= @mby_off_waste = @total - @weekly %></td>
    <td><%= @mobay_weather %></td>
  </tr>

  <% amount_it_lost(@kgn_weather, "Kingston") %>

  <tr>
    <td><%= @city %></td>
    <td><%= @type %></td>
    <td><%= @kgn_IT_count %></td>
    <td><%= @kgn_it_waste = @total - @weekly %></td>
    <td><%= @kgn_weather %></td>
  </tr>

  <% amount_it_lost(@mobay_weather, "Montego Bay") %>

  <tr>
    <td><%= @city %></td>
    <td><%= @type %></td>
    <td><%= @mobay_IT_count %></td>
    <td><%= @mobay_it_waste = @total - @weekly %></td>
    <td><%= @mobay_weather %></td>
  </tr>

</table>

<table class="table">
  <tr>
    <td>City </td>
    <td>Hours lost </td>

  </tr>

  <tr>
    <td> Montego Bay Wasted Hours </td>
    <td><%= @mobay_lost =  (@mobay_it_waste * @mobay_IT_count)+ (@mby_off_waste*@mobay_office_count) %></td>
  </tr>

  <tr>
    <td> Kingston Wasted Hours </td>
    <td><%= @kgn_lost = (@kgn_it_waste * @kgn_IT_count) + (@kgn_off_waste * @kgn_office_count) %></td>
  </tr>

  <tr>
    <td> Total Hours lost </td>
    <td><%= @kgn_lost + @mobay_lost %></td>
  </tr>


</table>

<p class="lead"> Automated emails are sent every Sunday at 1:00am to all Employees</p>